@tailwind base;
@tailwind components;
@tailwind utilities;


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    border-radius: 8px;
  }

  @keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  .animate-scale-in {
    animation-name: scaleIn;
    animation-duration: 1s;
  }


  /*
  SCORETABLE
  */

.podium {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1rem;
}

.podium-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.podium-item img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.podium-item-1 {
  order: 2;
}

.podium-item-2 {
  order: 1;
}

.podium-item-3 {
  order: 3;
}

.podium-item-1 .podium-rank {
  font-size: 2rem;
}

.podium-item-2 .podium-rank {
  font-size: 1.5rem;
}

.podium-item-3 .podium-rank {
  font-size: 1.25rem;
}

.podium-item-1-margin {
  margin-left: 0.5rem !important; 
}


.podium-item-3-margin {
  margin-left: -0.07rem !important; 
}
.podium-item-2-margin {
  margin-left: 0.1rem !important; 
}

.emoji-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Otros estilos según sea necesario */
}

.emoji-container > span {
  position: absolute;
  /* Estilos adicionales para cada emoji */
}

/*Countdown show options without 0 in the counter */

.countdown>*:before {
  content: "0\a 1\a 2\a 3\a 4\a 5\a"
}